@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  *{
    color: white;
  }
  ::selection{
      color: aquamarine;
      /* background-color: beige; */
    }
  }
.one{
  /* width: 645px; */
  margin: 0 auto;
  place-content: center;
}